*{
    margin: 0;
    padding: 0;
}

.form1{
    display: inline-block;
    width: 100px;
}
.btn-default{
    margin-left: 20px;
}

.form-inline {
    display: inline-block;
}

.form-inline span{
    height: 54px;
    display: inline-block;
    font-weight: bold;
    line-height: 54px;
}
.nav{
    margin-bottom: 20px;
}

.nav .btn-default{
    margin-top: 20px;
    float: right;
}

.nav .index{
    margin-left: 0px;
    margin-top: 20px;
    margin-right: 40px;
    float: left;
}

caption {
    font-style: italic;
    font-size: larger;
}

.content{
    font-size: 20px;
    display: block;
    height: 200px;
    width: 100%;
    line-height: 200px;
    text-align: center;
    background-color: #eeeeee;
}